

<div class="hero vignette">
  <br>
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br>
    <h1>Learn How to Live Your Life to The Fullest</h1>
    <br>
    <h2>Let the experts help you master your mind</h2>
    <br>
    <%= link_to "Learn More", "#", class: "btn btn-success"  %>
    <br>
    <br>
  </div>
</div>
