

<div class="hero vignette">
  <br>
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br>
    <h1>Live Your Life to The Fullest</h1>
    <br>
    <h2>Let the Experts Help You Master Your Mind</h2>
    <br>
    <%= link_to "Learn More", courses_path, class: "btn btn-success"  %>
    <br>
    <br>
  </div>
</div>
<br>
<div class="col-xs-10 col-xs-offset-1 text-center features">
  <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
    <%= image_tag 'play.png', class: 'img-responsive feature-image center-block' %>
    <br>
    <h2>Lectures</h2>
    <br>
      <h4 class="text-justify">Step by step video instructions on how to master your mind, conquer your fear, live the best version of yourself and accelerate to a maximum momentum in your life and achieve the impossible...</h4>

  </div>

  <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
    <%= image_tag 'expert.png', class: 'img-responsive feature-image center-block' %>
    <br>
    <h2>Word Class Experts</h2>
    <br>
      <h4 class="text-justify">Learn latest methods and techniques from the best experts in the world. From the best peak performance coaches, NLP masters and meditation gurus. Meet masters such Anthony Robbins, Richard Bandler and Deepak Chopra...</h4>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
    <%= image_tag 'notes.png', class: 'img-responsive feature-image center-block' %>
    <br>
    <h2>Extra Materials</h2>
    <br>
      <h4 class="text-justify">Notes, homework exercises and FREE eBooks to keep you going even after the course is over. Subsribers to the course get all updated materials straight into the inbox!</h4>
  </div>

</div>
